<<<<<<< HEAD
.footer{
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
background-color:rgb(63, 62, 62);
=======
.footer{
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
background-color:rgb(63, 62, 62);
>>>>>>> first commit
}